@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@400;700&family=Raleway:wght@100;300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

:root{
    --primaryColor: hsl(84, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0,0%,18%);
    --greyText: hsl(0, 0%, 75%);
    --inputColor: hsl(330, 12%, 97%);
    --inputColor: hsl(154, 14%, 90%);

    /*typography*/

    --biggestFontSize: 2.5rem; 
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem ;

}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    font-size: var( --h2FontSize);
    cursor: pointer;
}
img, video{
    height: auto;
    width: 100%;
}
.message{
    display: none;
}

.showMessage{
    display: block;
    color: var(--whiteColor);
    background: rgb(255, 0, 0);
    border-radius: 3px;
    text-align: center;
}

.btn{
    border: none;
    outline: none;
    padding: .8rem 1rem;
    cursor: pointer;
    color: var(--greyText);
    border-radius: 8px;
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    color: var(--primaryColor);
    background-color:var(--paleGreen);
}

.loginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);

    .contanier{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: rgb(214, 223, 213);
    }
}
