@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@400;700&family=Raleway:wght@100;300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}

:root{
  --primaryColor: hsl(221, 62%, 65%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 14%, 36%);
  --whiteColor: hsl(0, 44%, 83%);
  --blackColor: hsl(0,0%,18%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(331, 42%, 65%);

  /*typography*/

  --biggestFontSize: 2.5rem; 
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center !important;
  gap: 1.5rem ;

}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}
.icon{
  font-size: var(--blackColor);
  cursor: pointer;
}
img, video{
  height: auto;
  width: 100%;
}
.message{
  display: none;
}

.showMessage{
  display: block;
  color: var(--whiteColor);
  background: rgb(99, 72, 218);
  border-radius: 3px;
  text-align: center;
}

.btn{
  border: none;
  outline: none;
  padding: .8rem 1rem;
  cursor: pointer;
  color: var(--greyText);
  border-radius: 8px;
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  color: var(--primaryColor);
  background-color:var(--paleGreen);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.loginPage, .registerPage{
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(19, 117, 134);

  .contanier{
      height: 75vh;
      width: 60%;
      margin: auto;
      justify-content: space-between;
      border-radius: 10px;
      background: hsl(192, 17%, 94%);

      .gifDiv{
        position: relative;
        display: flex;
        flex-basis: 50%;
        width: 70%;
        height: 100%;
        padding: 0 1.5rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        
        video, .footerDiv{
          position: absolute;
        }
        video{
          height: 100%;
          width: 100%;
          object-fit: cover;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
        .textDiv{
          position: relative;

          .title{
            color: var(--whiteColor);
            font-size: 40px;
            font-weight: 900;
          }
        }
        .footerDiv{
          bottom: 10px;
          padding: 0 1rem;
          height: 60px;
          background: rgba(167, 123, 123, 0.248) ;
          left: 10px;
          right: 10px;
          justify-content: space-between;
          backdrop-filter: blur(1px);
          border-radius: 10px;


          .text{
            color: var(--whiteColor);
          }

          .btn{
            background: var(--whiteColor);
            color: var(--paleGreen);
            padding: .8rem 1.5rem;
            border-radius: 10px;
            font-weight: 400;
            transition: .3s ease;

            :hover{
              background:  var(--hoverColor);
              color: var(--blackColor);
            }
          }
        } 
      }

      .formDiv{
        flex-basis: 50%;
        margin: auto;
        flex-direction: column;
        gap: 1.5rem;
        transform: translate(-1rem) ;

        .headerDiv{
          text-align: center;
          padding: 1.5rem;

          img{
            width: 60px;
            padding-bottom: .5rem;
          }

        h3{
          font-size: 25px;
          color: var(--blackColor);
          font-weight: 600;
        }
      }

      .form{
        gap: 1rem;

        .inputDiv{
          .icon{
            color: var(--greyText);
          }

          input{
            background: none;
            outline: none;
            border: none;
            width: 200px;
          }

          label{
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            padding: .5rem 0;
            display: block;
          }

          .input{
            gap: .5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }
        }
        .btn{
          padding: .8rem;
          background: var(--blackColor);
          border-radius: 10px;
          color: var(--whiteColor);
          align-items: center;
          margin: auto;
          justify-content: center;
          font-size: 16px;
          width: 100%;
          gap: .5rem;
          transition: .3s ease;

          .icon{
            font-size: 25px;
            transition: .3s ease;     
          }

          &:hover{
            background: var(--hoverColor);
            color: var(--blackColor);

            .icon{
              color: var(--blackColor);
              transform: translateX(5px);
            }
          }
        }
        .forgotPassword{
          font-size: 13px;
          color: var(--blackColor);
          opacity: .7;
          text-align: center;

          a{
            text-decoration: underline;
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
}

.dashboard{
  height: 100vh;
  width:  100%;
  justify-content: center;
  margin: auto;

  .dashboardContainer{
    height: 95vh;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(240, 200, 200);

  }
}

.contanier{
  position: relative;
  width: 95vw;
  height: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blackColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}



@media screen and (max-width: 500px) {
.heading{
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  }  
}

@media screen and (max-width: 918px) {
  .heading{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    }  
}
  @media screen and (max-width: 990px) {
    .heading{
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      }  
}

@media screen and (max-width: 678px) {
  .loginPage, .registerPage{
    .contanier{
      .gifDiv{
        .textDiv{
          .title{
            font-size: 25px;
          }

          P{
            padding: 1rem;
          }
        }

        .footerDiv{
          .text{
            font-size: 12px;
          }

          .btn{
            padding: 8rem 1.5rem;
          }
        }
      }

      .formDiv{

        .headerDiv{
          padding: 1.5rem 0;


          h3{
            font-size: 20px;
          }

          .form{
          
            .inputDiv{
              input{
                width: 100%;
                max-width: 200px;
              }
            }

          }
        }
      }
    }
  }
}


@media screen and (max-width: 927px) {
  .loginPage, .registerPage{
    .contanier{
      width: 85 ;
    }
  }
}

::-webkit-scrollbar{
  display: none;

}


/*# sourceMappingURL=App.css.map */